In [3]:
#1 string char exchange
string = input("enter a string: ")
print("the new first and last swapped string  with is",string[-1]+string[1:-1]+string[0])

enter a string: welcome
the new first and last swapped string  with is eelcomw

In [2]:
#2 string swap and concatenate
s1=input("enter a string1: ")
s2=input("enter a string2: ")
print("the first 2 swapped strings is:",s2[:2]+s1[2:],s1[:2]+s2[2:])

enter a string1: good
enter a string2: morning
the first 2 swapped strings is: mood  gorning

In [16]:
#3  replace char with $
str=input("enter string:")
print("after replacing the repeating element",str[0]+str[1:].replace(str[0],"$"))

enter string:blabla
after replacing the repeating element bla$la

In [1]:
#4 color list
cset=list(input("enter element by(,)for tuple:").split(","))
print("first color in list 1:",cset[0],"last color in list:",cset[-1])

enter element by(,)for tuple:green,blue,yellow
first color in list 1: green last color in list: yellow

In [3]:
#5 file extension print
filename=input("enter file name:")
print("the extension is",filename.split(".")[-1])

enter file name:hello.png
the extension is png

In [2]:
#6 3rd element and 3rd last element
tupl=tuple(input("enter element by(,)for tuple:").split(","))
tup1=tupl[2];tup2=tupl[-3]
print(f"from orginal tuple(tupl)")
print(f"the 3rd element: {tup1} and 3rd last element is: {tup2}")

enter element by(,)for tuple:green,blue,yellow,green
from orginal tuple(tupl)
the 3rd element: yellow and 3rd last element is: blue

In [2]:
#7 write a python program to print all colors from color-set1, not contained in color set-2
cset1=set(input("enter the colors by space for set1:").split())
cset2=set(input("enter the colors by space for set2:").split())
print("\n set 1:",cset1,"set 2:",cset2)
print("\n all colors from set1,not contained in set2 .",cset1-cset2)

enter the colors by space for set1:blue green yellow
enter the colors by space for set2:white green blue

 set 1: {'green', 'yellow', 'blue'} set 2: {'green', 'blue', 'white'}

 all colors from set1,not contained in set2 . {'yellow'}

In [4]:
#8 accept 5 student names from user,sort dictionary in ascending and descending order
names=input("enter 5 student names seperated by spaces:").split()
stud=dict(enumerate(names))
print("Ascending:",dict(sorted(stud.items())))
print("Descending:",dict(sorted(stud.items(),reverse=True)))

enter 5 student names seperated by spaces:anu manu abu ammu sanu
Ascending: {0: 'anu', 1: 'manu', 2: 'abu', 3: 'ammu', 4: 'sanu'}
Descending: {4: 'sanu', 3: 'ammu', 2: 'abu', 1: 'manu', 0: 'anu'}

In [4]:
#9 accept 3 names in dict1 and 2 names in dict2 and merge both dictionaries 
n1=input("enter 3 names seperated by spaces for dict1:").split()
dict1={1:n1[0], 2:n1[1],3:n1[2]}

n2=input("enter 2 names seperated by spaces for dict2:").split()
dict2={4:n2[0],5:n2[1]}

dict1.update(dict2)
print("after merging both dictionaries:",dict1)

enter 3 names seperated by spaces for dict1:yaseen sanin amil
enter 2 names seperated by spaces for dict2:nabeel adil
after merging both dictionaries: {1: 'yaseen', 2: 'sanin', 3: 'amil', 4: 'nabeel', 5: 'adil'}

In [10]:
#10 print all even numbers (1-25) and calculate sum,by range() directly even without a loop
r=tuple(range(2,25,2))
print("even numbers:",r)
print("the sum of even numbers(1-25):",sum(r))

even numbers: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24)
the sum of even numbers(1-25): 156